{% extends "base.html" %}

{% block contents %}

<script type="text/javascript" src="static/js/anamnesis.js"></script>
<script type="text/javascript" src="static/js/mustache.js"></script>
<script type="text/javascript">
<!--
	function formatString() {
	  var s = arguments[0];
	  for (var i = 0; i < arguments.length - 1; i++) {       
	    var reg = new RegExp("\\{" + i + "\\}", "gm");             
	    s = s.replace(reg, arguments[i + 1]);
	  }

	  return s;
	};

	var bootstrapTabsTemplate = [	'{'+'{=[[ ]]=}'+'}',
				'<div class="tabbable tabs-right">',
				'	<ul class="nav nav-tabs">',
				'		[[#tabs]]',
				'			<li>',
				'				<a href="#[[uniqueName]]_[[index]]" data-toggle="tab">[[&title]]</a>',
				'			</li>',
				'		[[/tabs]]',
				'	</ul>',
				'	<div class="tab-content">',
				'		[[#tabs]]',
				'			<div class="tab-pane [[klass]]" id="[[uniqueName]]_[[index]]">',
				'				[[&html]]',
				'			</div>',
				'		[[/tabs]]',
				'	</div>',
				'</div>' ].join('\n');
	var bootstrapDropdownButtonTemplate = [	'{'+'{=[[ ]]=}'+'}',
						'<div class="btn-group" dir="rtl">',
						'	<a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" href="#">[[&title]] <span class="caret"></span> </a>',
						'	<ul class="dropdown-menu" dir="[[dir]]" style="left: auto; right:0px">',
						'		[[#items]]',
						'			<li><a href="#" onclick="[[code]]">[[&title]]</a></li>',
						'		[[/items]]',
						'	</ul>',
						'</div>' ].join('\n');
	var commandTemplate = [	'{'+'{=[[ ]]=}'+'}',
				'[[#commands]]',
				'<p><a href="#" onclick="commandGiven([[key]])">[[command]]</a></p>',
				'[[/commands]]' ].join('\n');

	function chapterEnabled( chapter, obj )
	{
		if ( $("#chapter_" + chapter).size() == 0 )
			alert( "Error: " + chapter + " is not a known chapter (" + $.listProperties( obj ) + ")" );
		return $("#chapter_" + chapter).attr("checked")=="checked";
	}

	function difficultyEnabled( difficulty, obj )
	{
		if ( $("#difficulty_" + difficulty).size() == 0 )
			alert( "Error: " + difficulty + " is not a known difficulty (" + $.listProperties( obj ) + ")" );
		return $("#difficulty_" + difficulty).attr("checked")=="checked";
	}

	function listToHtml( list )
	{
		var result = "";
		for ( var i in list )
			result += "<li>" + list[ i ] + "</li>";
		return result;
	}

	var relevantCases = [];
	var lastCaseIndexInRelevantCases = 0;
	function refillRelevantCases() {
		relevantCases = [];
		lastCaseIndexInRelevantCases = -1;
		for ( var i in cases ) {
			var aCase = cases[ i ];
			if ( ! chapterEnabled( aCase.chapter, aCase ) )
				continue;
			if ( ! difficultyEnabled( aCase.difficulty, aCase ) )
				continue;
			relevantCases.push( aCase );
		}
		$("#startbutton").show();
		$("#finishbutton").hide();
		$("#playground").hide();
	}

	function mergeDirectionaries(obj1,obj2){
		var obj3 = {};
		for (var attrname in obj1) { obj3[attrname] = obj1[attrname]; }
		for (var attrname in obj2) { obj3[attrname] = obj2[attrname]; }
		return obj3;
	}

	function wasCommandGiven( key )
	{
		for ( var i in commandsUntilNow )
			if ( commandsUntilNow[ i ] == key )
				return true;
		return false;
	}

	function finishCase()
	{
		$(".historyline").show();
		stopCounter();
		$("#command_input_alphabetic").hide();
		$("#command_input_byschema").hide();
		$("#command_input_byinteraction").hide();
		$("#startbutton").show();
		$("#finishbutton").hide();
		$("#history").append( "<tr><td>המקרה הוא:</td><td>" + currentCase.condition + '</td><td class="feedback"></td></tr>' );
		for ( var i in commands ) {
			var command = commands[ i ];
			var answer;
			if ( currentCase.answers[ command.key ] )
				answer = currentCase.answers[ command.key ];
			else
				answer = defaultAnswers[ command.key ];
			if ( answer.feedback == FEEDBACK_MUST && ! wasCommandGiven( command.key ) )
				$("#history").append( '<tr><td></td><td></td><td class="feedback feedback_bad">לא ביצעת: ' + command.command + '</td></tr>' );
		}
		for ( var i in commands ) {
			var command = commands[ i ];
			var answer;
			if ( currentCase.answers[ command.key ] )
				answer = currentCase.answers[ command.key ];
			else
				answer = defaultAnswers[ command.key ];
			if ( answer.feedback == FEEDBACK_SHOULD_BE_ASKED && ! wasCommandGiven( command.key ) )
				$("#history").append( '<tr><td></td><td></td><td class="feedback">כדאי ש: ' + command.command + '</td></tr>' );
		}
	}

	function showCommandInputByMethod()
	{
		$("#command_input_alphabetic").hide();
		$("#command_input_byinteraction").hide();
		$("#command_input_byschema").hide();
		if ( $("#input_alphabetic").attr("checked")=="checked" )
			$("#command_input_alphabetic").show();
		else if ( $("#input_byschema").attr("checked")=="checked" )
			$("#command_input_byschema").show();
		else if ( $("#input_byinteraction").attr("checked")=="checked" )
			$("#command_input_byinteraction").show();
	}

	var currentSchemas;
	var currentCase;
	var commandsUntilNow;
	function nextCase() {
		$("#startbutton").hide();
		$("#finishbutton").show();
		showCommandInputByMethod();
		$("#history").html("");
		$("#playground").show("fade");
		if ( $("#order_random").attr("checked")=="checked" )
			lastCaseIndexInRelevantCases = Math.floor(Math.random()*relevantCases.length);
		else
			lastCaseIndexInRelevantCases = ( lastCaseIndexInRelevantCases + 1 ) % relevantCases.length;
		currentCase = relevantCases[ lastCaseIndexInRelevantCases ];
		currentSchemas = { 'patient': 0, 'anamnesis': 0 };
		commandsUntilNow = [];
		var randomAddressIndex = Math.floor( Math.random() * streetNames.length );
		var randomNumber = Math.floor( Math.random() * 100 );
		var address = " ברחוב " + streetNames[ randomAddressIndex ] + " " + randomNumber;
		var age = currentCase.agemin + Math.round( Math.random() * ( currentCase.agemax - currentCase.agemin ) )
		$("#history").append( '<tr class="historyline"><td>' + formatString( currentCase.intro, age, address ) + "</td><td>הגעת למקום</td></tr>" );
		startCounter();
	}

	function findCommand( key )
	{
		for ( var i in commands )
			if ( commands[ i ].key == key )
				return commands[ i ];
	}

	function commandGiven( key )
	{
		var answer;
		var feedback = "";
		if ( wasCommandGiven( key ) )
			feedback += '<span class="feedback_bad">חזרת על עצמך</span><br/>';
		else
			commandsUntilNow.push( key );
		if ( currentCase.answers[ key ] )
			answer = currentCase.answers[ key ];
		else
			answer = defaultAnswers[ key ];
		if ( answer.feedback == FEEDBACK_DOES_NOT_MATCH_CASE )
			feedback += '<span class="feedback_bad">לא מתאים למקרה</span><br/>';
		var command = findCommand( key );
		if ( typeof( currentSchemas[ command.schema ] ) == 'number' ) {
			if ( command.schemaorder < currentSchemas[ command.schema ] ) {
				feedback += "הלכת אחורה בסכמת " + command.schema + "<br/>";
			}
			currentSchemas[ command.schema ] = command.schemaorder;
		}
		if ( $("#memory_hidehistory").attr("checked")=="checked" )
			$(".historyline").hide();
		$("#history").append( '<tr class="historyline"><td>' + command.command + "</td><td>" + answer.answer + '</td><td class="feedback">' + feedback + "</td></tr>" );
	}

	var counterStarted;
	function startCounter()
	{
		$("#counter").html( "0:00" );
		counterStarted = (new Date).getTime();
		$(document).everyTime( 1000, function() {
			var interval = (new Date).getTime() - counterStarted;
			var seconds = "00000000" + Math.floor( interval / 1000 % 60 );
			$("#counter").html( Math.floor( interval / 60000 ) + ":" + seconds.substr( seconds.length - 2 ) );
		} );
	}
	function stopCounter()
	{
		$(document).stopTime();
	}

	function sortCommands( commandsToSort )
	{
		var sortedCommands = [];
		for (var i in commands)
			sortedCommands.push( commands[ i ] );
		sortedCommands.sort( function( a, b ) { return (b.command<a.command)-(a.command<b.command) } );
		return sortedCommands;
	}

	function fillCommands()
	{
		var sortedCommands = sortCommands( commands );
		for (var i in sortedCommands ) {
			var command = sortedCommands[ i ];
			$("#command_alphabetic_combobox").append( '<option value="' + command.key + '">' + command.command + '</option>\n' );
		}
		fillCommandsForInputByInteraction();
		fillCommandsForInputBySchema();
	}

	function fillCommandsForInputByInteraction()
	{
		var interactionsTabs = [];
		for ( var interactionIndex in interactions ) {
			var interactionName = interactions[ interactionIndex ];
			var commandsInInteraction = [];
			for ( var commandIndex in commands ) {
				var command = commands[ commandIndex ];
				if ( command.interaction != interactionIndex )
					continue;
				commandsInInteraction.push( command );
			}
			var html = Mustache.render( commandTemplate, { commands: commandsInInteraction } );
			var tab = { index: interactionsTabs.length, title: interactionName, html: html };
			interactionsTabs.push( tab );
		}
		$("#command_input_byinteraction").html( Mustache.render( bootstrapTabsTemplate, { tabs: interactionsTabs, uniqueName: 'byinteractiontabs' } ) );
	}

	function fillCommandsForInputBySchema()
	{
		var schemasTabs = [];
		for ( var schemaName in schemas ) {
			var schemaNameInHebrew = schemasInHebrew[ schemaName ];
			var schemaOrderTabs = []
			for ( var i in schemas[ schemaName ] ) {
				var orderName = schemas[ schemaName ][ i ];
				var commandsInOrder = [];
				for ( var commandIndex in commands ) {
					var command = commands[ commandIndex ];
					if ( command.schema != schemaName || command.schemaorder != i )
						continue;
					commandsInOrder.push( command );
				}
				var html = Mustache.render( commandTemplate, { commands: commandsInOrder } );
				var tab = { index: schemaOrderTabs.length, title: orderName, html: html };
				schemaOrderTabs.push( tab );
			}
			var html = Mustache.render( bootstrapTabsTemplate, { tabs: schemaOrderTabs, uniqueName: 'byschema_' + schemaName + "_tabs" } );
			var tab = { index: schemasTabs.length, title: schemaNameInHebrew, html: html };
			schemasTabs.push( tab );
		}
		$("#command_input_byschema").html( Mustache.render( bootstrapTabsTemplate, { tabs: schemasTabs, uniqueName: 'byschematabs' } ) );
	}

	$(function(){
		refillRelevantCases();
		fillCommands();
		$("#startbutton").click( nextCase );
		$("#finishbutton").click( finishCase );
		$(".command_combobox").change( function() {
			var key = $(this).val();
			$(".emptycommand").attr( "selected", "selected" );
			$(".command_input_byschema_commandcombobox").hide();
			$(".command_input_byinteraction_commandcombobox").hide();
			commandGiven( parseInt( key ) );
		} );
		$(".inputradio").change( showCommandInputByMethod );
		$("#command_input_byschema_phasecombobox").change( function() {
			var key = $(this).val();
			$(".command_input_byschema_commandcombobox").hide();
			if ( key != "" )
				$("#"+key).show();
		} );
		$("#command_input_byinteraction_interactioncombobox").change( function() {
			var key = $(this).val();
			$(".command_input_byinteraction_commandcombobox").hide();
			if ( key != "" )
				$("#"+key).show();
		} );
	});
-->
</script>

<style type="text/css">
	.feedback {
		padding-left: 40px;
		padding-right: 40px;
	}
	.feedback_good {
		color: blue;
	}
	.feedback_bad {
		color: red;
	}
	td {
		padding-left: 10px;
		padding-right: 10px;
	}
	.inputtypedesc {
		width: 200px;
	}
	.command_combobox {
		width: 100px;
	}
	.command_preselect_combobox {
		width: 100px;
	}
</style>

<div class="span3">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">מקרים רק מהסוגים:</li>
			<li><input type="checkbox" class="chaptercheckbox" id="chapter_cardio" checked/> הלב</li>
			<li><input type="checkbox" class="chaptercheckbox" id="chapter_breath" checked/> נשימה</li>
		</ul>
		<ul class="nav nav-list">
			<li class="nav-header">דרגת קושי של המקרים:</li>
			<li><input type="checkbox" class="difficultycheckbox" id="difficulty_classic" checked/> קלאסי</li>
		</ul>
		<ul class="nav nav-list">
			<li class="nav-header">סדר הצגת המקרים:</li>
			<li><input type="radio" name="orderradio" id="order_random" checked/> אקראי</li>
			<li><input type="radio" name="orderradio" id="order_onebyone"/> פרה פרה</li>
		</ul>
		<ul class="nav nav-list">
			<li class="nav-header">לשמור על המסך את ההיסטוריה?</li>
			<li><input type="radio" name="memoryradio" id="memory_showhistory" checked/> הראה שאלות קודמות</li>
			<li><input type="radio" name="memoryradio" id="memory_hidehistory"/> החבא, אני זוכר (יותר קשה)</li>
		</ul>
		<ul class="nav nav-list">
			<li class="nav-header">כיצד לבחור את הפעולה:</li>
			<li><input type="radio" class="inputradio" name="inputradio" id="input_byschema" checked/> לפי סכמה (הכי קל)</li>
			<li><input type="radio" class="inputradio" name="inputradio" id="input_byinteraction"/> לפי סוג (קשה)</li>
			<li><input type="radio" class="inputradio" name="inputradio" id="input_alphabetic"/> אפלאבתי (לצרכי פיתוח)</li>
		</ul>
	</div>
</div>

<div class="span8">
	<h1>סימולטור אנמנזה</h1>
	<p>
		<a id="startbutton" class="btn btn-danger" href="#">התחל מקרה חדש</a>
		<a id="finishbutton" class="btn btn-warning" href="#">סיימתי, הראה לי מה שכחתי</a>
	</p>
	<div id="playground" style="display:none;">
		<h4>שעון: <span id="counter"></span> </h4>
		<table id="history">
		</table>
		<h4>בחר פעולה:</h4>
		<div id="command_input_alphabetic">
			<select class="command_combobox" id="command_alphabetic_combobox">
				<option value="" class="emptycommand"></option>
			</select>
		</div>
		<div id="command_input_byinteraction">
			<select class="command_preselect_combobox" id="command_input_byinteraction_interactioncombobox">
				<option value="" class="emptycommand"></option>
			</select>
		</div>
		<div id="command_input_byschema">
		</div>
	</div>

</div>
{% endblock %}
