{% extends "base.html" %}

{% block contents %}
	<h1>כלים למדריך</h1>
	<div class="fluid-row">
		<div class="span4">
			<h2>סימולטור אנמנזה</h2>
			<p>מאגר המקרים</p>
			<p><a class="btn btn-danger" href="anamnesispool.html">מאגר המקרים &raquo;</a></p>
			<p><a class="btn btn-danger" href="static/js/anamnesis.js">המקור בשפת javascript  &raquo;</a></p>
		</div>
		<div class="span4">
			<h2>כרטסיות שינון</h2>
			<p>מאגר השאלות לכרטסיות השינון</p>
			<p><a class="btn btn-danger" href="questionspool.html">מאגר השאלות &raquo;</a></p>
			<p><a class="btn btn-danger" href="static/js/quiz.js">המקור בשפת javascript  &raquo;</a></p>
		</div>
		<div class="span4">
			<h2>תרשים אנמנזה</h2>
			<p>המקור של התרשים בשפת dot</p>
			<p><a class="btn btn-danger" href="static/dot/anamnesis.dot">תרשים אנמנזה &raquo;</a></p>
		</div>
	</div>

	<style>
		.span4 { height:200px; }
	</style>
{% endblock %}
