{% extends "base.html" %}

{% block contents %}

<script type="text/javascript" src="static/js/quiz.js"></script>
<script type="text/javascript">
<!--
	function listToHtml( list )
	{
		var result = "";
		for ( var i in list )
			result += "<li>" + list[ i ] + "</li>";
		return result;
	}

	function chapterEnabled( chapter, obj )
	{
		if ( $("#chapter_" + chapter).size() == 0 )
			alert( "Error: " + chapter + " is not a known chapter (" + $.listProperties( obj ) + ")" );
		return $("#chapter_" + chapter).attr("checked")=="checked";
	}

	function questionTypeEnabled( type, obj )
	{
		if ( $("#question_" + type).size() == 0 )
			alert( "Error: " + type + " is not a known question type (" + $.listProperties( obj ) + ")" );
		return $("#question_" + type).attr("checked")=="checked";
	}

	var relevantQuestions = [];
	var lastQuestionIndexInRelevantQuestions = 0;
	function refillRelevantQuestions() {
		relevantQuestions = [];
		lastQuestionIndexInRelevantQuestions = -1;
		for ( var i in questionsPool ) {
			var question = questionsPool[ i ];
			if ( ! chapterEnabled( question.chapter, question ) )
				continue;
			if ( ! questionTypeEnabled( question.type, question ) )
				continue;
			relevantQuestions.push( question );
		}
		nextQuestion();
	}

	function nextQuestion() {
		$("#nextquestion").hide();
		$("#reveal").show();
		$("#answer").hide();
		if ( $("#order_random").attr("checked")=="checked" )
			lastQuestionIndexInRelevantQuestions = Math.floor(Math.random()*relevantQuestions.length);
		else
			lastQuestionIndexInRelevantQuestions = ( lastQuestionIndexInRelevantQuestions + 1 ) % relevantQuestions.length;
		var question = relevantQuestions[ lastQuestionIndexInRelevantQuestions ];
		$(".answerform").hide();
		$(".questionform").hide();
		switch ( question.type ) {
			case 'abrv':
				$("#answerform_abrv").show();
				$("#answerform_abrv_heb").html( question.heb );
				$("#answerform_abrv_desc").html( question.desc );
				$("#questionform_abrv").show();
				$("#abrv").html( question.abrv );
				break;
			case 'engTerm':
				$("#answerform_engTerm").show();
				$("#answerform_engTerm_desc").html( question.desc );
				$("#questionform_engTerm").show();
				$("#engTerm").html( question.term );
				break;
			case 'hebTerm':
				$("#answerform_hebTerm").show();
				$("#answerform_hebTerm_desc").html( question.desc );
				$("#questionform_hebTerm").show();
				$("#hebTerm").html( question.term );
				break;
			case 'simpleQuestion':
				$("#answerform_simpleQuestion").show();
				$("#answerform_simpleQuestion_answer").html( question.answer );
				$("#questionform_simpleQuestion").show();
				$("#simpleQuestion").html( question.question );
				break;
			case 'numberExact':
				$("#answerform_numberExact").show();
				$("#answerform_numberExact_answer").html( question.answer );
				$("#questionform_numberExact").show();
				$("#numberExact").html( question.question );
				break;
			case 'numberRange':
				$("#answerform_numberRange").show();
				$("#answerform_numberRange_answermin").html( question.answermin );
				$("#answerform_numberRange_answermax").html( question.answermax );
				$("#questionform_numberRange").show();
				$("#numberRange").html( question.question );
				break;
			case 'trueorfalse':
				$("#answerform_trueorfalse").show();
				if ( question.true ) {
					$("#answerform_trueorfalse_true").show();
					$("#answerform_trueorfalse_false").hide();
				} else {
					$("#answerform_trueorfalse_true").hide();
					$("#answerform_trueorfalse_false").show();
				}
				$("#questionform_trueorfalse").show();
				$("#trueorfalse").html( question.question );
				break;
			case 'list':
				$("#answerform_list").show();
				$("#answerform_list_list").html( listToHtml( question.list ) );
				$("#questionform_list").show();
				$("#list").html( question.question );
				break;
			case 'condition':
				$("#answerform_condition").show();
				$("#answerform_condition_definition").html( question.definition );
				$("#answerform_condition_signs").html( listToHtml( question.signs ) );
				$("#answerform_condition_treatment").html( listToHtml( question.treatment ) );
				$("#questionform_condition").show();
				$("#condition").html( question.condition );
				break;
			case 'whatdoeshehave':
				$("#answerform_whatdoeshehave").show();
				$("#answerform_whatdoeshehave_condition").html( question.condition );
				$("#answerform_whatdoeshehave_treatment").html( listToHtml( question.treatment ) );
				$("#questionform_whatdoeshehave").show();
				$("#questionform_whatdoeshehave_signs").html( listToHtml( question.signs ) );
				break;
			default:
				alert( "Uknown question type '" + question.type + "'" );
		}
	}

	$(function(){
		refillRelevantQuestions();
		$("#nextquestion").click(nextQuestion);
		$("#reveal").click(function() {
			$("#reveal").hide();
			$("#nextquestion").show();
			$("#answer").show();
		});
		$(".chaptercheckbox").click(refillRelevantQuestions);
		$(".questiontypecheckbox").click(refillRelevantQuestions);
	});
-->
</script>

<div class="span3">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">הצג שאלות מתוך הפרקים הבאים:</li>
			<li><input type="checkbox" class="chaptercheckbox" id="chapter_cpr" checked/>החייאה</li>
			<li><input type="checkbox" class="chaptercheckbox" id="chapter_patient" checked/>חולה</li>
			<li><input type="checkbox" class="chaptercheckbox" id="chapter_nerves" checked/>עצביים</li>
			<li><input type="checkbox" class="chaptercheckbox" id="chapter_cardio" checked/>הלב</li>
			<li><input type="checkbox" class="chaptercheckbox" id="chapter_breath" checked/>נשימה</li>
		</ul>
		<ul class="nav nav-list">
			<li class="nav-header">הצג שאלות מן הסוגים הבאים:</li>
			<li><input type="checkbox" class="questiontypecheckbox" id="question_abrv" checked/>קיצור אותיות באנגלית</li>
			<li><input type="checkbox" class="questiontypecheckbox" id="question_engTerm" checked/>מונחים באנגלית</li>
			<li><input type="checkbox" class="questiontypecheckbox" id="question_hebTerm" checked/>מונחים בעברית</li>
			<li><input type="checkbox" class="questiontypecheckbox" id="question_simpleQuestion" checked/>שאלה רגילה</li>
			<li><input type="checkbox" class="questiontypecheckbox" id="question_numberExact" checked/>ערך</li>
			<li><input type="checkbox" class="questiontypecheckbox" id="question_numberRange" checked/>טווח ערכים</li>
			<li><input type="checkbox" class="questiontypecheckbox" id="question_trueorfalse" checked/>אמת או שקר</li>
			<li><input type="checkbox" class="questiontypecheckbox" id="question_list" checked/>רשימה</li>
			<li><input type="checkbox" class="questiontypecheckbox" id="question_condition" checked/>מחלה</li>
			<li><input type="checkbox" class="questiontypecheckbox" id="question_whatdoeshehave" checked/>מה יש לו</li>
		</ul>
		<ul class="nav nav-list">
			<li class="nav-header">סדר הצגת השאלות:</li>
			<li><input type="radio" name="orderradio" id="order_random" checked/>אקראי</li>
			<li><input type="radio" name="orderradio" id="order_onebyone"/>פרה פרה</li>
		</ul>
	</div>
</div>

<div class="span8">
	<H1>כרטסיות שינון</H1>
	<p>
		<a id="nextquestion" class="btn btn-danger" href="#">הצג שאלה חדשה</a>
		<a id="reveal" class="btn btn-warning" href="#">גלה את התשובה</a>
	</p>
	<H3> שאלה: </h3>
	<div id="question">
		<div id="questionform_abrv" class="questionform">
			<div>מה הקיצור <span id="abrv"></span> אומר?</div>
		</div>
		<div id="questionform_engTerm" class="questionform">
			<div>מה זה <span id="engTerm"></span>, בעברית?</div>
		</div>
		<div id="questionform_hebTerm" class="questionform">
			<div>מה זה <span id="hebTerm"></span>?</div>
		</div>
		<div id="questionform_condition" class="questionform">
			<div>המחלה "<span id="condition"></span>": הגדרה, סימנים וטיפול</div>
		</div>
		<div id="questionform_numberExact" class="questionform">
			<div><span id="numberExact"></span>?</div>
		</div>
		<div id="questionform_numberRange" class="questionform">
			<div><span id="numberRange"></span>?</div>
		</div>
		<div id="questionform_trueorfalse" class="questionform">
			<div><span id="trueorfalse"></span>?</div>
		</div>
		<div id="questionform_list" class="questionform">
			<div><span id="list"></span>?</div>
		</div>
		<div id="questionform_simpleQuestion" class="questionform">
			<div><span id="simpleQuestion"></span>?</div>
		</div>
		<div id="questionform_whatdoeshehave" class="questionform">
			<strong>החולה המציג את הסימנים והסימפטומים הבאים. מה יש לו, וכיצד טטפל?</strong>
			<ul style="margin: 8px; margin-right: 20px" id="questionform_whatdoeshehave_signs">
			</ul>
		</div>
	</div>
	<H3>תשובה:</h3>
	<div id="answer">
		<div id="answerform_abrv" class="answerform">
			<div><span id="answerform_abrv_desc"></span></div>
			<div><span id="answerform_abrv_heb"></span></div>
		</div>
		<div id="answerform_engTerm" class="answerform">
			<div><span id="answerform_engTerm_desc"></span></div>
		</div>
		<div id="answerform_hebTerm" class="answerform">
			<div><span id="answerform_hebTerm_desc"></span></div>
		</div>
		<div id="answerform_condition" class="answerform">
			<div>תיאור: <span id="answerform_condition_definition"></span></div>
			<div>סימנים:
				<ul style="margin:3px; margin-right:20px" id="answerform_condition_signs">
				</ul>
			</div>
			<div>טיפול:
				<ul style="margin:3px; margin-right:20px" id="answerform_condition_treatment">
				</ul>
			</div>
		</div>
		<div id="answerform_numberExact" class="answerform">
			<div><span id="answerform_numberExact_answer"></span></div>
		</div>
		<div id="answerform_numberRange" class="answerform">
			<div><span id="answerform_numberRange_answermin"></span> - <span id="answerform_numberRange_answermax"></span></div>
		</div>
		<div id="answerform_trueorfalse" class="answerform">
			<div id="answerform_trueorfalse_true">אמת</div>
			<div id="answerform_trueorfalse_false">שקר</div>
		</div>
		<div id="answerform_list" class="answerform">
			<ul style="margin:3px; margin-right:20px" id="answerform_list_list">
			</ul>
		</div>
		<div id="answerform_simpleQuestion" class="answerform">
			<div><span id="answerform_simpleQuestion_answer"></span></div>
		</div>
		<div id="answerform_whatdoeshehave" class="answerform">
			<div><strong><span id="answerform_whatdoeshehave_condition"></span></strong></div>
			טיפול:
			<ul style="margin:3px; margin-right:20px" id="answerform_whatdoeshehave_treatment">
			</ul>
		</div>
	</div>
</div>
{% endblock %}
